<section class="center-vertical">
    <div class="login_button">
		<form action="/group/create" method="post">
        	<input class="form-control" name="group_name" placeholder="作成するグループの名前を入力"><br>
        	<input class="form-control" name="color" placeholder="グループカラーを選択"><br>
        	<input class="form-control" type="submit" value="作成">
    	</form>
	</div>
</section>