<section class="group_all">
	
	<div class="grid">
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
</div>


    <h1 class="center-vertical"><%= current_user.name %>の参加しているグループ一覧</h1>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
    <% unless @groups.empty? %>
	<% @groups.each do |group| %>
		<a class="btn post group-post d-flex justify-content-center align-items-center" href="/group/<%= group.id %>/home" style="border-radius: 50%; background-color: <%= group.color %>;">
			<h5 id="change-size"><%= group.group_name %></h5>
		</a>
	<% end %>
	<% else %>
	<p>参加しているグループはありません</p>
	<% end %>
	</div>
　　<div class="d-flex justify-content-center align-items-center">
　　	<a class="btn btn-outline-primary post center-vertical" href="/group/create">グループを作成する</a>
		<a class="btn btn-outline-success post center-vertical" href="/group/join">グループに参加する</a>
　　</div>
</section>