<section class="center-vertical">
    <div class="login_button">
		<form action="/group/join" method="post">
        	<input class="form-control" name="group_name" placeholder="参加するグループの名前を入力"><br>
        	<input class="form-control" name="code" placeholder="グループコードを入力"><br>
        	<input class="form-control" type="submit" value="参加">
    	</form>
	</div>
</section>