<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">みんタス</a>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  		<div class="offcanvas-header">
    		<h5 id="offcanvasRightLabel">トップ画面</h5>
    		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  		</div>
  		<div class="offcanvas-body">
    		<ul class="navbar-nav">
        		<% if !current_user.nil? %>
				  	<a class="nav-link" href="/"><img src="<%= current_user.top_img %>" alt="user_image" width="40" height="40"><p><%= current_user.name %></p></a>
				  	<a class="nav-link" href="/group/select">グループ一覧</a>
					<a class="nav-link" href="/group/create">グループ作成</a>
				  	<a class="nav-link" href="/group/join">グループ参加</a>
				  	<a class="nav-link" href="/signout">ログアウト</a>
				<% else %>
					<a class="nav-link" href="/">ログイン</a>
				  	<a class="nav-link" href="/signup">新規ユーザー登録</a>
				<% end %>
      		</ul>
  		</div>
	</div>
  </div>
  </nav>

<section class="first-view center-vertical top" style="height: 100vh;">
	<h1>みんタス</h1>
	<% if current_user.nil? %>
	<div class="login_button">
		
		<% if !@error_message.nil? %>
			<div class="alert alert-danger" role="alert">
				<%= @error_message %>
			</div>
		<% end %>
		
		<form action="/signin" method="post">
        	<input class="form-control" name="name" placeholder="名前を入力"><br>
        	<input class="form-control" name="password" type="password" placeholder="パスワードを入力"><br>
        	<input class="form-control" type="submit" value="ログイン">
    	</form>
	</div>
	<% end %>
</section>