  * {
    margin: 0;
    padding: 0;
  }
  
  section {
    height: 100vh;
    width: 100vw;
    background-color: #fcfcfc;
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #37313D;
    padding: 5vh 10vw;
  }
  
  h1 {
    padding: 5vh;
  }
  
  .top h1{
    font-size: 150px;
    color: #ff0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.0);
    background-image: linear-gradient(45deg, #D3EBE8, #C5D4EB);
    font-weight: 600;
    font-style: bold;
    letter-spacing: 0.2em;
    padding: 0 0 5vh;
    }

  nav {
    height: 70px;
    width: 100%;
    background-color: rgb(70, 69, 69);
  }

  nav a {
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;
    margin-left: 15px;
  }

  nav img {
    border-radius: 50%;
    background-color: aliceblue;
  }

	.first-view {
	  height: 350px;
    width: 100%;
    padding-top: 170px;
    /*background-image: url("/assets/img/mic.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
  }

  .first-view h1 {
    font-family: 'Righteous', cursive;
    color: white;
  }

  .login_button {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  
  section a .post{
    border-radius: 50%;
  }

  .post {
    margin: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 50%;
    word-break: break-all;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .user-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
  }
  
  /*infoエリアをはじめは非表示*/
#info{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

.toggle {
  position: relative;
  width: 78px;
  height: 48px;
  margin: 40px 60px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  display: none;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #f45e55;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle:after {
  content: "OFF";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-align: center;
  padding: 14px 0 0;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  color: #df4c43;
  letter-spacing: .5px;
  box-sizing: border-box;
}
.toggle.checked:before {
  background: #24e89c;
}
.toggle.checked:after {
  content: "ON";
  left: 33px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
  color: #16d088;
  padding: 14px 0 0 1px;
}

.switch-checkbox {
    margin: 0 2rem;
}

.switch-checkbox input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 4.5rem;
    height: 1.9rem;
    margin-top: -0.2rem;
    border-radius: 5px;
    background-color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    transition: .5s;
}

.switch-checkbox input[type=checkbox]::before {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    width: 2.6rem;
    padding: 0.2rem 0rem;
    background-color: #B75454;
    text-align: center;
    content: 'Done';
    transition: .5s;
}


.switch-checkbox input[type=checkbox]:checked::before {
    background-color: #6CD892;
    left: .2rem;
    content: 'Doing';
}