  * {
    margin: 0;
    padding: 0;
  }
  
  section {
    height: calc(100vh - 70px);;
    width: 100vw;
    background-color: #fcfcfc;
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #584F4F;
    padding: 5vh 10vw;
  }
  
  h5 {
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #584F4F;
  }
  
  p{
    color: #584F4F;
  }
  
  h1 {
    padding: 3vh 0 2vh;
  }
  
  .top {
    background-image: url(/assets/img/top-img.jpg);
    background-size:cover;
    width: 100vw;
    height: calc(100vh - 70px)!important;
  }
  
  .top h1{
    font-size: 180px;
    color: #776B6B;
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: rgba(255,255,255,0.0);*/
    /*background-image: linear-gradient(45deg, #D3EBE8, #C5D4EB);*/
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
    padding: 3vh 0 0;
    }

  nav {
    height: 70px;
    width: 100%;
    background-color: rgb(70, 69, 69);
  }

  nav a {
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #584F4F;
    text-decoration: none;
    margin-left: 15px;
  }

  nav img {
    border-radius: 50%;
    background-color: aliceblue;
  }

	.first-view {
	  height: calc(100vh - 70px);;
    width: 100%;
    padding-top: 170px;
    /*background-image: url("/assets/img/mic.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
  }

  .login_button {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  
  section a .post{
    border-radius: 50%;
  }

  .post {
    margin: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 50%;
    word-break: break-all;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .user-box {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    /*gap: 8px;*/
    padding: 8px 10px 0;
    margin: 0 5px;
  }
  
  .user-box img{
    border-radius: 50%;
  }
  
  .info-box{
    border-radius: 40px;
    padding: 40px 0;
    width: 40vw;
    margin: 0 20vw;
  }
  
  .group_all p {
    color: #584F4F;
  }
  
  /*infoエリアをはじめは非表示*/
#info{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

.switch-checkbox {
    margin: 0 2rem;
}

.switch-checkbox input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 4.5rem;
    height: 1.9rem;
    margin-top: -0.2rem;
    border-radius: 5px;
    background-color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    transition: .5s;
}

.switch-checkbox input[type=checkbox]::before {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    width: 2.6rem;
    padding: 0.2rem 0rem;
    background-color: #B75454;
    text-align: center;
    content: 'Done';
    transition: .5s;
}


.switch-checkbox input[type=checkbox]:checked::before {
    background-color: #6CD892;
    left: .2rem;
    content: 'Doing';
}

.group-post{
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

.task-box{
  border-radius: 50%;
  height: 8rem;
  width: 10rem;
  padding: 1rem;
  margin: 0.3rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.state-box {
  border-radius: 50px;
  height: 60vh;
  width: 31vw;
  margin: 0.5vw;
  padding:10px;
  background-color: rgba(252,252,252,0.8);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.group {
  padding: 5vh 0;
  background: linear-gradient(135deg, #DCEAFF, #EBFFFB);
}

.group h1 {
  padding: 0 0 3vh;
}

.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }